<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="LogStashConfig" type="Keywords.API.Errors.LogStashConfig, Keywords.API, Version=1.0.0.0, Culture=neutral" />
  </configSections>

  <connectionStrings>
    <add providerName="System.Data.SqlClient" connectionString="Server=DBPROJ01;Database=laterooms;connection timeout=30;Integrated Security=SSPI;" name="Keywords.API.Data" />
  </connectionStrings>

  <LogStashConfig ipaddress="127.0.0.1" port="112" enabled="true" />
  <log4net debug="false">
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <threshold value="ERROR" />
      <param name="ApplicationName" value="Public.Keywords.API" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%exception%newline" />
      </layout>
    </appender>
    <root>
      <appender-ref ref="EventLogAppender" />
    </root>
  </log4net>
</configuration>