<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="APIErrorConfig" type="TLRGrp.WebApi.ErrorHandling.ErrorConfig, TLRGrp.WebApi.ErrorHandling" />
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="hostname" value="api.keyword.local" />
  </appSettings>
  <APIErrorConfig>
    <Errors>
      <Error apiErrorCode="4000" httpStatusCode="500" message="Internal Server Error" />
      <Error apiErrorCode="4001" httpStatusCode="404" message="Keyword Not Found" />
      <Error apiErrorCode="4002" httpStatusCode="400" message="{0} must be of type {1}" />
      <Error apiErrorCode="4003" httpStatusCode="404" message="Resource not found" />
      <Error apiErrorCode="4004" httpStatusCode="503" message="Service Unavailable" />
    </Errors>
  </APIErrorConfig>
  <specFlow>
    <unitTestProvider name="NUnit" />
  </specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>